.delete-box {
  width: 90%;
  max-width: 400px;

  background: white;
  padding: 25px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.delete-box select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.delete-buttons {
  display: flex;
  justify-content: space-between;
}

.delete-buttons button {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.danger {
  background: #ff4d4f;
  color: white;
}